<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
?>
<div class="block block-search">
    <div class="block block-title"><strong><?= /* @escapeNotVerified */ __('Search') ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label">
                    <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </label>
                <div class="control">
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?= /* @escapeNotVerified */ $helper->getSuggestUrl()?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
                           type="text"
                           name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>"
                           value="<?= /* @escapeNotVerified */ $helper->getEscapedQueryText() ?>"
                           placeholder="<?= /* @escapeNotVerified */ __('search') ?>"
                           class="input-text"
                           maxlength="<?= /* @escapeNotVerified */ $helper->getMaxQueryLength() ?>"
                           role="combobox"
                           aria-haspopup="true"
                           aria-autocomplete="both"
                           autocomplete="on"/>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <?= $block->getChildHtml() ?>
                </div>
            </div>
            <div class="actions">
                <button type="submit"
                    title="<?= $block->escapeHtml(__('Search')) ?>"
                    class="action search"
                    aria-label="Search"
                >
                    <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    require(['jquery', 'jquery/ui'],function(e){
        jQuery(document).ready(function () {
            let search_autocomplete = jQuery("#search_autocomplete");
            let search = jQuery('#search');
            let textSearchValue = search.val();
            let textSearchLength = search.val().length;

            search.on('blur', function () {
                hideElement();
            });

            jQuery('body').on('click', '.btn-close ', function (e){
                e.preventDefault();
                hideElement();
            });

            
            search.on('keyup', function () {
                textSearchOnChange();
            });

            search.on('keydown', function (e) {
                let keyCode = e.keyCode;

                if ( keyCode == jQuery.ui.keyCode.ESCAPE ){
                    hideElement();
                }
            });

            search.on('focus', function () {
                if (textSearchLength >= 3)
                showElement();
            });


            let hideElement = function () {
                setTimeout(function () {
                    search_autocomplete.hide();
                    jQuery('.o-vuong').hide();
                }, 300);
            };

            let showElement = function () {
                search_autocomplete.show();
                jQuery('.o-vuong').show();
            }

            //Listen Event text search change
            let textSearchOnChange = function (){
                let textSearchValue = search.val();
                let textSearchLength = search.val().length;

                if ( textSearchLength < 3 ){
                    hideElement();
                    search_autocomplete.children('ul').remove();
                }
                else {
                    setTimeout(function () {
                        jQuery.ajax({
                            url : '/frontend/index/search/?q=' + textSearchValue,
                            dataType : 'json',
                            type : 'GET',
                            success : function(res)
                            {
                                search_autocomplete.children('ul').remove();
                                jQuery('#search').after('<div class="o-vuong"></div>')

                                let html = '';

                                if (res['product'].length > 0){
                                    jQuery.each(res['product'], function(key, value){
                                        html += '<li>' +
                                            '<a href=/'+ value['url_key'] + '.html' +'>' +
                                            '<img class="product-image-search-result" src='+ window.location.origin +'/pub/media/catalog/product'+ value['image'] +' />' +
                                            '<span class="product-name-search-result">'+ value['name'] +'</span>' +
                                            '</a>' +
                                            '</li>';
                                    });
                                    if (res['product'].length > 2){
                                        html += '<li>' +
                                                    '<button>' +
                                                        '<a href=/catalogsearch/result/?q='+ jQuery('#search').val() +'>Show All Results</a>' +
                                                    '</button>' +
                                                '</li>';
                                    }
                                }
                                else {
                                    html += '<li><span class="no-result-search">No result</span></li>'
                                }


                                search_autocomplete.append('<ul class="list-product-search-result"></ul>');
                                jQuery('.list-product-search-result').append('<a href="" class="btn-close ">X</a>');
                                search_autocomplete.css('display', 'block');
                                search_autocomplete.children('ul').append(html);

                            },
                            error : function()
                            {
                                console.log('error');
                            }
                        });
                    }, 300);
                }
            };
        });

    });
</script>
