<!--<i class="fas fa-user"></i>-->

<!--<div class="actions dropdown example-dropdown-2">-->
    <span class="action toggle"
            data-mage-init='{"dropdown":{}}'
            data-toggle="dropdown"
            aria-haspopup="true">
        <span><i class="fas fa-user"></i></span>
    </span>

<!--</div>-->