<?php
/**
 * @var Customer $block
 */
use Magento\Customer\Block\Account\Customer;
$block = $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
?>

<?php if ($block->customerLoggedIn()): ?>
    <a href="/wishlist"><i class="fas fa-heart"></i></a>
<?php endif; ?>
